body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgb(255, 255, 93), rgb(253, 191, 75), rgb(247, 49, 49));
}

input {
 width: 500px;
 height: 25px;
 border: 0;
 border-bottom: 2px solid rgb(247, 49, 49);
 background-color: transparent;
 opacity: 0.8;
 box-shadow: 0 0 3px rgb(153, 78, 78);
}

input:focus {
  opacity: 0.8;
  outline-style: none;
  background-color: rgb(233, 190, 112);
  border-color: rgb(245, 211, 137);
 }

.search-container .suggestions {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 190, 112);
}

ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
}

ul li {
  padding: 4px;
}
ul li:hover {
  background-color: rgb(223, 125, 34);
}